<div class="home">

    <div class="articles">

    <div class="articleone">
        <h1>The Value of Money</h1>

        <figure>
            <img src="./img/money.jpg"  alt="The Value of Money" /> 
            <figcaption>Money</figcaption>
        </figure>

        
        <p>
            The value of money, then, is the quantity of goods in general that will be exchanged for one unit of money. The value of money is its purchasing power, i.e., the quantity of goods and services it can purchase. What money can buy depends on the level of prices. When the price level rises, a unit of money can purchase less goods than before. Money is then said to have depreciated. Conversely, a fall in prices signifies that a unit of money can buy more than before.
        <br>
        <br>
            Money is then said to appreciate. The “general level of prices” and the value of money are thus the same thing from two opposite angles. When the prices rise the value of money falls and vice versa. In other words, the value of money and the general price level are inversely proportion­s’ to each other. Violent changes in the value of money (or the price level) disturb economic life and do great harm. We must, therefore, carefully study the factors which’ determine the value of money.
        </p>

            <a href="https://www.economicsdiscussion.net/money/value-of-money-meaning-measurement-and-preparation-of-index-numbers/1863">Reference</a>
    </div>

    

    <div class="articletwo">


       

        <div class="atc2-child1">
            <h1>GMO Food</h1>
        <figure>
            <img src="./img/gmoFood.jpg" alt="GMO food"/>
            <figcaption>Vegetables</figcaption>
         </figure>
        

        
            <p>
                Engineers design plants using genetically modified organisms (GMOs) to be tougher or more nutritious or to taste better. However, people have concerns over their safety, and there is much debate about the pros and cons of using GMOs.Scientists create GMO foods by introducing genetic material, or DNA, from a different organism through genetic engineering.Most of the currently available GMO foods are plants, such as fruit and vegetables.In the United States, the Food and Drug Administration (FDA)Trusted Source regulates all foods from genetically engineered plants. They must meet the same safety requirements as non-GMO foods.GMO foods are likely to become a crucial tool in feeding the world’s growing population, especially in areas with harsh climates. However, there have been concerns about possible risks.
            </p>
        </div>

        <div class="atc2-child2">     
        <h2>pro</h2>
            <figure>
                <img src="./img/gmoFood2.jpg" alt="GMO food">
                <figcaption>Vegetables</figcaption>
            </figure> 
            <p>
                Increased attractiveness to consumers, for example, apples and potatoes that are less likely to bruise or turn brown
                enhanced flavor<br><br>
                Longer shelf life and therefore less waste<br><br>
                Greater resistance to viruses and other diseases, which could lead to less waste and increased food security<br><br>
                Greater tolerance to herbicides, making it easier for farmers to control weeds<br><br>
                Increased nutritional value, as in golden rice, which can boost the health of people with limited access to food<br><br>
                Greater resistance to insects, allowing farmers to reduceTrusted Source pesticide use<br><br>
                Ability to thrive in a harsh climate, such as drought or heat<br><br>
                Ability to grow in salty soil<br><br>
            </p>
        </div>
        
        <div class="atc2-child2">       
        <h2>con</h2>
            <figure>
                <img src="./img/gmoFood1.jpg" alt="GMO food"/>
                <figcaption>Vegetables</figcaption>
            </figure>
            <p>
                Allergic reactions - There is a small risk that GMO foods can trigger an allergic reaction, but this will only happen if the genetic change triggers the production of an allergen.
                <br><br>
                Cancer - There have been concerns that eating GMO foods can contribute to the development of cancer by raising levels of potentially carcinogenic substances in the body. The American Cancer SocietyTrusted Source states there is no evidence that currently available GMO foods either increase or reduce the risk of cancer.
                <br><br>
                Antibacterial resistance - Some GMOs contain changes that make them resistant to certain antibiotics. In theory, the genes from these plants could enter humans or animals when they eat them. As a result, the person or animal could also develop antibiotic resistance.
                <br><br>
                Changes in human DNA - In 2009, some food scientistsTrusted Source noted that food DNA can survive as far as the gut, and there have been concerns that this could affect the immune system.
                <br><br>
                Toxicity for body organs - In 2009, some researchersTrusted Source suggested that GMO foods might impact the liver, kidney, pancreas, and reproductive system. They did not have evidence to confirm this and called for further studies.


            </p>
        </div>
            <a href="https://www.medicalnewstoday.com/articles/324576">Reference</a>
    </div>

    <div class="articlethree">

        <div class="atc3-child1">
        <h1>The View of World in 2100</h1>
        
        <figure>
            <img src="./img/crowd.jpg" alt="The View of World in 2100">
            <figcaption>crowd</figcaption>
        </figure>

        
            <p>
                With global population set to reach seven billion people over the weekend, it may be time to start planning for what the world   will look like in the coming years.
                Though most of us won't be around to see it, the United Nations has projected that our incredible population growth will level off at around 10 billion people by the year 2100.
                <br><br>
                Already, at less than seven billion, we are experiencing severe poverty, hunger, a shortage of resources, increased urbanization and climate change issues.Will we be doomed by 2100, or can we make it work? Since we've only got one planet (so far), let's hope for the latter.
            
            </p>

        </div>
        <div class="atc3-child2">
                <figure>
                    <img src="./img/crowd2.jpg" alt="The View of World in 2100">
                    <figcaption>crowd</figcaption>
                </figure>
            <p>
            
                By 2100, 80 percent of the world's populations will live in cities.Increased urbanization will be one of the main ways the planet will sustain 10 billion people. There will be a lot of new cities, and mega-cities (cities with a population of over 20 million) will become more common.Possible candidates for mega-city status include: Beijing, Delhi, Jakarta, Mexico City, Mumbai, São Paulo, and Shanghai.
                <br><br>
                Use of oil, natural gas and coal will drop to almost zero.These finite sources of energy will eventually become extinct, especially at our rate of consumption. Some tables have oil use declining at five percent a year after 2040. Gas is expected to decline even faster.Hydro energy and renewable energy (such as wind and solar power) are expected to see continued increasing use, and should become our primary sources of power by 2100 and beyond.   
            </p>
        </div>
        


            <a href="https://www.businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10#use-of-oil-natural-gas-and-coal-will-drop-to-almost-zero-8">Reference</a>
        
    </div>
    </div>

</div>
