<div class="portfolio">
  
    <h1>Portfolios</h1>

  
    <div class="parents">
        <div class="child1">

          <div class="card1">
              <img src="../img/avatar-01.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <p>Oliver Doe</p>
                <p>Architect</p>
              </div>
            </div>
            <br>

            <div class="card2">
              <img src="../img/avatar-02.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <p>John Smith</p>
                <p>Engineer</p>
              </div>
            </div>

            <br>

            <div class="card3">
              <img src="../img/avatar-03.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <p>Jack Brown</p>
                <p>Designer</p>
              </div>
            </div>
      </div>

      


          <div class="child2">
    

            <div class="card4">
              <img src="../img/avatar-04.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <p>Mason White</p>
                <p>Developer</p>
              </div>
            </div>

            <br>

            <div class="card5">
              <img src="../img/avatar-05.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <p>William Tremblay</p>
                <p>Developer</p>
              </div>
            </div>

            <br>

            <div class="card6">
              <img src="../img/avatar-06.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <p>Reece Lee</p>
                <p> Designer</p>
              </div>
            
            </div>
      </div>
  </div>

</div>